body {
    background: #eee;
    margin: 0;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    background: url("photos/1.jpg");
    background-position: center center;
	background-size: cover;
    padding:  20px;
    text-align: left;
	text-shadow: 2px 2px #408a8d;
	color: #eee;
}

.content {
    display: flex;
    flex-direction: column;
}

.trip {
    display: flex;
    padding: 80px;
    color: #eee;
    background: #408a8d;
    background-position: center center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
    transition: background-color 1.5s ease, transform 1.0s ease;
    margin: 5px 10px;
}

.trip:hover {
    filter: alpha(opacity=50);
    opacity: 0.5;
    background: rgb(131,234,215);
    background: linear-gradient(90deg, rgba(131,234,215,1) 40%, rgba(255,255,255,0) 90%);
}

.trip:active {
    transform: scale(0.98);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #b4aeb2;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tile {
    text-align: center;
}

.tile a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.tile img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
	margin-top: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.tile a:hover img {
    transform: scale(1.6);
}

.tile span {
    display: block;
    margin-top: 10px;
    font-size: 5px;
}



/* Basic style reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
/* Main menu */
.menu {
  background-color: #408a8d;
  color: #fff;
  font-family: 'Verdana', monospace;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.menu__list {
  display: flex;
}
.menu__link, .menu__item--parent {
  padding: 15px 20px;
}
.menu__link {
  color: #fff;
}
.menu__item--parent {
  cursor: default;
  position: relative;
}

.menu__item--parent {
  cursor: default;
  position: relative;
}

/* Drop-down */
.menu__sublist {
  display: none;
  position: absolute;
  background-color: #408a8d;
}

.menu__sublist--bottom {
  left: 0;
  top: 100%;
}
.menu__sublist--right {
  left: 100%;
  top: 0;
}

/* Change background color on hover for menu and drop-down items */
.menu__item:hover {
  background-color: #cdf5ec;
}

/* Show drop-down on hover of the parent menu item */
.menu__item--parent:hover > .menu__sublist {
  display: block;
}