@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat.ttf') format('truetype');
  font-family: 'Caveat';
	src: url('fonts/Caveat.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  scrollbar-width: none; 
  -ms-overflow-style: none;

}

*::-webkit-scrollbar {
    display: none; 
}

body {
  font-family: sans-serif;
  background: var(--background-color);
  color: var(--primary-color);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  z-index: 1000;
}

.content {
  position: relative;
  top: 60vh;
  z-index: 1;
  backdrop-filter: blur(12px);
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 10px;
  background: var(--primary-color);
  z-index: 10000;
}

:root {
            --primary-color: #30404d;
            --secondary-color: #f0f0f0;
            --background-color: #f0f0f0;
            --text-color: #30404d;
            --ex-color: #cfebe6;
			      --header-color: #9ca2a5;
		      	--footer-color: #f0f0f0;
}

.dark-theme {
            --primary-color: #f0f0f0;
            --secondary-color: #30404d;
            --background-color: #333333;
            --text-color: #f0f0f0;
            --ex-color: #cfebe6;
			      --header-color: #30404d;
		      	--footer-color: #333333;
}

/*----------------------------------------------------------------------------*/

header {
  position: sticky;
  top: 5px;
  z-index: 2;
  backdrop-filter: blur(6px);
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 25px;
}

header .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}


nav {
  display: none;
  gap: 1.5rem;
}

nav a {
  font-size: 0.9rem;
  opacity: 0.9;
}

nav a:hover {
  opacity: 1;
}


/*----------------------------------------------------------------------------*/

.hero {
  padding: 6rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.hero img {
    width: 100%;
    min-width: 350px;
    max-width: 1200px;
    height: auto;
    margin: 0;

}

.hero h2 {
  font-family: sans-serif;
  font-size: clamp(12px, 3vw, 40px);
  font-weight: 800;
  line-height: 1.1;
}

.hero h4 {
  font-family: sans-serif;
  font-size: clamp(9px, 1vw, 15px);
  line-height: 1.1;
  text-align: left;
}

.hero h3 {
  font-family: sans-serif;
  font-size: clamp(14px, 2vw, 500px);
  line-height: 1.1;
  font-weight: 800;
  text-align: right;
}

/*----------------------------------------------------------------------------*/

.marquee {
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 1rem;
  margin-top: 3rem;
}

.marquee span {
  display: inline-block;
  padding: 2rem;
  font-weight: 800;
  font-size: 2rem;
  opacity: .9;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


/*----------------------------------------------------------------------------*/

    .logo-slider {
      max-width: 1200px;
      margin: 20px auto;   /* auto wyśrodkowuje w poziomie */
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 15px 0;
      position: relative;
    }

    .logo-track {
      display: flex;
      width: max-content;
      animation: scroll 25s linear infinite;
    }

    .logo-track a {
      display: inline-block;
      margin: 0 30px;
    }

    .logo-track img {
      height: 50px;
      width: auto;
      vertical-align: middle;
      transition: transform 0.3s, filter 0.3s;
      filter: grayscale(100%); /* czarno-białe */
    }

    .logo-track img:hover {
      transform: scale(1.1);
      filter: grayscale(0%); /* po najechaniu kolor wraca */
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }

/*----------------------------------------------------------------------------*/

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work .thumb {
  aspect-ratio: 16/10;
}

.work .overlay {
  position:absolute;
  inset:0;
  display:flex;
  align-items:flex-end;
  padding:1rem;
  color: var(--secondary-color);
}

/*----------------------------------------------------------------------------*/
.map {
    color: var(--primary-color);
    z-index: 0;
    
}


#map {
			height: 40vh;
      width: 100%;
      max-width: 1200px;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 0;
}

#wildmap {
			height: 60vh;
      width: 100%;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 0;
}
/*----------------------------------------------------------------------------*/



.marker {
	display: flex;
	flex-direction: row;
	align-items: left;

	
}

.legenda  img {
  width: 30px;
  height: 30px;
	position: relative;

}

/*----------------------------------------------------------------------------*/

.project {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(33.33% - 20px); /* 3 projekty w rzędzie */
    transition: transform 0.2s;
	  max-height: 55%;
}

@media (max-width: 768px) {
    .project {
        flex: 1 1 100%; /* Pełna szerokość w kolumnie */
        max-width: 100%;

    }
}


.strava-embed-placeholder {
    max-width: 300px;
}

.strava-embed-placeholder iframe {
    max-width: 300px;
}

        .overlay-container {
			width: 100%;
			font-size: 20px;
			font-weight: bold;
      position: relative;
      display: inline-block;     
			border-radius: 8px;
        }

        /* Obraz roweru */
        .bike-image {
            width: 100%; /* Dopasowanie obrazu roweru do kontenera */
            height: auto;
            display: block;
        }

        /* SVG jako nakładka */
        .svg-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
            transition: transform 0.3s ease, filter 0.3s ease;
        }

        /* Powiększenie i podświetlenie na hover */
        .svg-overlay:hover {
            transform: scale(1.1);
            filter: brightness(1.2);
        }

        /* Efekt kliknięcia */
        .svg-overlay:active {
            transform: scale(1.2);
            filter: brightness(1.4);
        }

/*----------------------------------------------------------------------------*/

.social {
	display: flex;
	flex-direction: row;
  justify-content: space-around;
	gap: 25px;
  align-items: center;
	flex-wrap: wrap;
  padding: 20px 0px 5px 0px;
	max-width: 1200px;
	margin: auto;
  margin-bottom: 10px;
  margin-top: 50px;
  width: 100%;
}

.box {
	display: flex;
  align-items: right;
	margin: auto;
	min-width: 300px;
	transition: transform 0.9s, border-radius 0.9s;
	border-top: 1px solid var(--primary-color);
}

.disc {
	display: column;
  align-items: center;
  color: var(--primary-color);
	max-width: 960px;
	padding: 15px 15px 15px 15px;
	text-align: left;
}

.tile {
  width: 60px;
  height: 60px;
	margin: auto;
	margin-right: 10px;
	text-decoration: none;
  color: white;
	padding: 15px;
	border-radius: 30px;
	align-items: center;
}

.tile img {
  width: 30px;
  height: 30px;
	position: relative;

}

.box:hover {
	transform: scale(1.3);
	
}

.tile:hover {
    background-color: nobe;
}

.tile img:hover {
    background-color: none;
}




/*----------------------------------------------------------------------------*/

.footer {
  align-items: left;
  padding: 5px;
  backdrop-filter: blur(12px);
  bottom: 5px;
  position: sticky;
	z-index: 1000;
	align-items: center;
	padding: 20px 20px 20px 20px;
  width: 100%;
	max-width: 1200px;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 100px;
}

.footer button{
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}


/*----------------------------------------------------------------------------*/

      .slide-up-bar {
      position: fixed;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			gap: 25px;
			align-items: center;
			flex-wrap: wrap;
      bottom: -100%;
      width: 100%;
      background-color: var(--background-color);
      color: var(--primary-color);
      padding: 50px 0px 50px 0px;
      text-align: center;
      transition: bottom 0.3s;
			z-index: 100000;
			justify-content: space-around;
			
        }
        .slide-up-bar.show {
      bottom: 0;
			background: var(--background-color);
			box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
      align-items: center;
      position: sticky;
        }
		
        .credits {
			align-items: center;
			width: 240px;
        }
		
		    .credits p{
			font-weight: normal;
			font-size: 15px;
			text-transform: uppercase;	
        }
		
        .credits a:link{
			color: var(--primary-color);
			text-decoration: underline;
			font-size: 15px;
			font-weight: bold;
        }	
		
        .credits a:visited{
			color: var(--primary-color);
			text-decoration: underline;
			font-size: 200px;
        }	
		
		   .credits button{
			text-align: center;
			background: none;
			border: none;
			color: var(--primary-color);
			cursor: pointer;
			font-size: 50px;			
        }	
		
		    .credits img {
			height: 50px;
			width: 100%;
		}
		

/*----------------------------------------------------------------------------*/


.section-center{
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 108px;
  right: 57px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: var(--secondary-color);
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: var(--secondary-color);
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  z-index: 100;
  position: fixed;
  top: 80px;
  right: 30px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  background-color: var(--primary-color);
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.more-info-button,
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: var(--secondary-color);
  transition: all 250ms linear;
}
.more-info-button:hover,
.nav ul li a:hover{
  text-decoration: none;
  color: var(--ex-color);
}
.more-info-button:after,
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: var(--primary-color);
  opacity: 0.8;
  transition: width 250ms linear;
}
.more-info-button:hover:after,
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}


